body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(mùa\ đông.jpg) no-repeat;
    background-size: cover;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 35px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    transition: 0.9s;
}
.login-box h1:hover{
    background: #4caf50;
}
.textbox{
    width: 100%;
    background: none;
    overflow: hidden;
    font-size: 18px;
    border-bottom: 1px solid #4caf50;
    cursor: pointer;
    transition: 0.4s;
}
.textbox :hover{
    background-color:#4caf50;
}


ul.menungang{
    list-style: none;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: segoe ui light;
    
}
ul.menungang li{
    display: inline;
  
}
ul.menungang a{
    border: 5px solid #708090;
    border-radius: 20px;
    background-color:#008080;
    margin-left: 10px;
}
.menu{

    height: 60px;

}

ul.menungang a{
    text-decoration: none;
    font-size: 30px;
    color:white ;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    display: inline-block;
    transition: 0.4s;
}
ul.menungang a:hover{
    background-color: #4682B4;
}

