i.fa.fa-home {
    font-size: 30px;
}
.navbaner{
    display: flex;
    width: 100%;
    height: 300px;
    
}
.navbaner .banner{
    margin: auto;
    padding-left: 90px;
}
.navbaner .banner h1{
    width: 400px;
    font-size: 20px;
   
}
.navbaner .banerleft{
    margin: auto;
    padding-right: 50px;
}
.navbaner .banerleft p{
    font-size: 20px;
    
}
.img{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 600px ;
}
.content {
    position: absolute;
    top:40%;
}
.img .content .small{
    font-size: 20px;
    color: white;
    padding-left: 100px;
}
.img .content h1{
    font-size: 30px;
    color: white;
    padding-left: 100px; 
    width:50%;
}
.text-center{
    background-color: white;
}
.text-center p{
font-size: 20px;
}